.back-container {
  display: flex;

  justify-content: flex-start;

  align-self: flex-start;
}
.main-container {
  min-height: 100vh;
}
.para {
  color: white;
}
.audio {
  background-color: green;
  width: 100%;
  border-radius: 1px;
}
.black {
  height: 70px;
  display: flex;
  width: 100%;
  background-color: black;
  padding: 20px;
  color: white;
  align-items: center;
}
.para2 {
  color: white;
  font-size: 12px;
}
.para3 {
  font-size: 10px;
}
.app-container2 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  min-height: 100vh;
}
.playlist-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.playlist-image {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}
.description {
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  color: #ffffff;
}
.songs-container1 {
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
  width: 100%;

  list-style-type: none;
  overflow-y: auto;
  height: 30vh;
}
.each-song {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}
.line {
  background-color: silver white;
  width: 90%;
}
.artist-container {
  width: 200px;

  display: flex;

  flex-direction: column;
  padding-bottom: 0px;
}
.duration-container {
  width: 30%;
}
.artist-container1 {
  display: flex;

  flex-direction: column;
}
.song1 {
  font-family: Assistant;
  width: 199px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  text-align: left;
  /* identical to box height */

  color: white;
}
.artist1 {
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  max-width: 220px;
  line-height: 0px;
  font-size: 12px;
  width: 199px;
  line-height: 16pt;
  text-align: left;
  /* identical to box height */

  color: #9b9b9b;
}
.duration {
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  color: #9b9b9b;
}
.player-image {
  height: 40px;
  width: 40px;
}
